header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../images/soccer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

    header.masthead h1 {
        font-size: 2.25rem;
    }

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 4.5rem;
        padding-bottom: 0;
    }

        header.masthead p {
            font-size: 1.15rem;
        }

        header.masthead h1 {
            font-size: 3rem;
        }
}

@media (min-width: 1200px) {
    header.masthead h1 {
        font-size: 3.5rem;
    }
}

header {
    background: white;
}

    header::after {
        content: '';
        display: table;
        clear: both;
    }

nav {
    color: white;
}

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav li {
        display: inline-block;
        margin-left: 60px;
        padding-top: 7px;
        padding-bottom: 7px;
        position: relative;

    }

    nav a {
        color: #444;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
    }

    nav a:hover {
        color: #000;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        width: 100%;
        background-color: #444;
        position: absolute;
        top: 0;
        width: 0%;

        transition: all ease-in-out 250ms;
    }

    nav a:hover::before {
        width: 100%;
    }

.fixed-top {
    position: sticky !important;
}

#navbarResponsive {
    display: flex;
    justify-content: center;
}
.navbar {
    background-color: var(--blue-color) !important;
}

    .navbar a {
        color: white !important;
        font-weight: 700;
    }

        .navbar a:hover {
            color: #a6dafc !important;
        }

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem !important;
    padding-left: 1rem;
}