/*NAVBAR*/
#navbarResponsive {
    justify-content: center;
}
.navbar a {
    color: #1B483A !important;
    font-weight: 500;
}
    .navbar a:hover {
        color: #1B483A;
    }
nav a::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #1B483A;
    position: relative;
    width: 0%;
    transition: all ease-in-out 250ms;
}
nav a:hover::after {
    width: 100%;
}
nav li {
    display: inline-block;
    position: relative;
    text-align: center;
}
a.nav-link {
    border-radius: .7rem;
}
    a.nav-link.active {
        background-color: #1B483A;
        color:white !important;
    }
/**/
/**/
/**/
/**/
/*background*/
header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: url("../images/soccer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
    header.masthead h1 {
        font-size: 2.25rem;
    }
@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 4.5rem;
        padding-bottom: 0;
    }
        header.masthead p {
            font-size: 1.15rem;
        }
        header.masthead h1 {
            font-size: 3rem;
        }
}
@media (min-width: 1200px) {
    header.masthead h1 {
        font-size: 3.5rem;
    }
}
header {
    background: white;
}
    header::after {
        content: '';
        display: table;
        clear: both;
    }
/**/
/**/
/**/
/**/
/*MISC*/
.fixed-top {
    position: sticky !important;
}
.CenteredName {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Section-Heading {
    font-size: 2.5rem !important;
}
/**/
/**/
/**/
/**/
/*EDU*/
.CenteredIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8rem;
    color: #435C5D;
}
.EduTextColor {
    color: #435C5D;
    font-size: 1.1rem;
}
.EduSubHeaders {
    color: #435C5D;
    font-size: 1.3rem;
    text-decoration: underline;
}
/**/
/**/
/**/
/**/
/*EXPERIENCE*/
.ExpColor {
    background-color: #435C5D;
}
.ExpSubHeaders {
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: 700;
    margin-left: 1rem;
}
.InfoText {
    margin-left: 1rem;
    font-size: 1.1rem;
}
.CustomBadge {
    display: grid;
    align-items: center;
    background: white;
    color: #435C5D;
    padding: 0.4rem 0.7rem;
    font-size: 1.3rem;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    border-radius: 10rem;
    vertical-align: baseline;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s;
    font-weight: 700;
    justify-content: space-between;
}
#ExpAccordian {
    padding-bottom: 8rem;
}
.accordion-button:focus {
    box-shadow: none !important
}
.accordion-button:not(.collapsed) {
    color: black !important;
    background-color: white !important;
    box-shadow: none !important;
}
#CWSHeader button {
    display: block;
    text-align: center;
}
.accordion-button {
    font-size: 1.5rem !important;
}
/**/
/**/
/**/
/**/